<div class="table jim">
  <div class="navbar">
    <div class="pair grid jim">
      <h2><%= @name %></h2>
    </div>
    <div class="pair grid jim">
      <%= button_to "back", files_path, :method => :get, :type => "button", :class => "btn btn-outline-secondary my-2 my-sm-0" %>
      <%= button_to "delete", {:controller => :files, :action => 'destroy', :id => @id }, :method => :delete, :type => "button", :class => "btn btn-outline-primary" %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th scope="col">#</th>
        <% @header.each do |datum| %>
          <th scope="col"><%= datum %></th>
        <% end %>
      </thead>
      <% i = 1 %>
      <% @rows.each do |row| %>
        <tr>
          <th scope="row"><%= i %></th>
          <% row.each do |datum| %>
            <td><%= datum %></td>
          <% end %>
          <% i += 1 %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
